@using MVCBlogMK3.Services
@using MVCBlogMK3.Utilities
@inject ISidebarService sidebarService

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Line42 - @ViewData["title"]</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />

    <!--Core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/blog-html/dist/assets/css/bulma.css">
    <link rel="stylesheet" href="~/blog-html/dist/assets/css/app.css">
    <link id="theme-sheet" rel="stylesheet" href="~/blog-html/dist/assets/css/core.css">

</head>

<body class="is-theme-core">

    <!-- Hero (Parallax) and nav -->
    <div class="hero parallax is-cover is-relative"
         data-background="/blog_bg.jpg"
         data-color="#FFFFFF"
         data-color-opacity="0.8">

        <nav class="navbar navbar-wrapper is-cloned">
            <div class="container">
                <!-- Brand -->
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="~/Line42logo.svg" alt="" class="switcher-logo" />
                    </a>

                    <!-- Responsive toggle -->
                    <div class="custom-burger" data-target="is-cloned">
                        <a class="responsive-btn" href="javascript:void(0);">
                            <span class="menu-toggle">
                                <span class="icon-box-toggle">
                                    <span class="rotate">
                                        <i class="icon-line-top"></i>
                                        <i class="icon-line-center"></i>
                                        <i class="icon-line-bottom"></i>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <!-- /Responsive toggle -->
                </div>

                <!-- Navbar menu -->
                <div id="is-cloned" class="navbar-menu">
                    <!-- Navbar end -->
                    <div class="navbar-end">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-wrapper is-transparent is-static">
            <div class="container">
                <!-- Brand -->
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="~/Line42logo.svg" alt="" class="switcher-logo" />
                        @*<img class="switcher-logo" src="~/blog-html/dist/assets/img/logos/logo/bulkit-core.svg" alt="">*@
                    </a>

                    <!-- Responsive toggle -->
                    <div class="custom-burger" data-target="is-static">
                        <a class="responsive-btn" href="javascript:void(0);">
                            <span class="menu-toggle">
                                <span class="icon-box-toggle">
                                    <span class="rotate">
                                        <i class="icon-line-top"></i>
                                        <i class="icon-line-center"></i>
                                        <i class="icon-line-bottom"></i>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <!-- /Responsive toggle -->
                </div>

                <div id="is-static" class="navbar-menu">
                    <!-- Navbar Start -->
                    <div class="navbar-start">
                        <!-- Dropdown -->
                        <div class="navbar-item is-button is-centered-tablet">
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Blogs" asp-action="Index" class="button btn-align primary-btn btn-outlined raised is-square">Admin</a> }
                            else if (User.IsInRole("Moderator"))
                            {
                                <a asp-controller="Comments" asp-action="Index" class="button btn-align primary-btn btn-outlined raised is-square">Moderator</a>}
                        </div>
                    </div>
                </div>

                <!-- Navbar menu -->
                <div id="is-static" class="navbar-menu">

                    <!-- Navbar end -->
                    <div class="navbar-end">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
        <!-- Hero image -->
        <div id="main-hero" class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-6 is-offset-3 has-text-centered is-subheader-caption">
                        <h1 class="title is-2">
                            A Tech Blog
                        </h1>
                        <h2 class="subtitle">
                            My thoughts on the newest technologies in the web development sphere.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog post list section -->
    <div class="section blog-section">
        <div class="container">
            <div class="columns">

                @RenderBody()

                <div class="column is-4">

                    <div class="blog-sidebar">

                        <!-- Search blog -->
                        <div class="control has-icons-right blog-sidebar-search">
                            <form id="search-form" asp-controller="Home" asp-action="Index" method="get"></form>
                            <input form="search-form" class="input is-large" name="query" id="search-on-enter-input" type="text" placeholder="Search posts...">
                            <span class="icon is-small is-right">
                                <i class="sl sl-icon-magnifier"></i>
                            </span>
                        </div>


                        <!--Categories-->
                        <div class="blog-sidebar-categories">
                            <h4>Categories</h4>

                            <div class="blog-sidebar-categories-inner">
                                <!--Category-->
                                <a asp-controller="Home" asp-action="Index" class="blog-sidebar-category">
                                    <span>All</span>
                                    <div class="post-count">
                                        <span>10</span>
                                    </div>
                                </a>
                                @foreach (var blog in (await sidebarService.GetBlogs()))
                                {
                                    <a asp-controller="Home" asp-action="Category" asp-route-id="@blog.Id" class="blog-sidebar-category">
                                        <span>@blog.Name</span>
                                        <div class="post-count">
                                            <span>@blog.Posts.Where(p => p.IsPublished == true).Count()</span>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>

                        <!--Recent Posts-->
                        <div class="blog-sidebar-posts">
                            <h4>Recent Posts</h4>

                            <div class="blog-sidebar-posts-inner">

                                @foreach (var recentPost in (await sidebarService.GetRecentPosts(4)))
                                {
                                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@recentPost.Id" class="blog-sidebar-post">
                                        <div class="post-image">
                                            @if (recentPost.Image != null)
                                            {
                                                <img src="@ImageUtility.DecodeImage(recentPost)" alt="">
                                            }
                                        </div>
                                        <div class="post-content">
                                            <h3>@recentPost.Title</h3>
                                            <div class="meta">
                                                <img src="~/josh_picture.jpg" alt="">
                                                <span>Joshua Peters</span>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>



        </div>
    </div>

    <footer class="footer-light-medium">
        <div class="container">
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="footer-head">
                    <div class="head-text">
                        <h3>Have thoughts on tech?</h3>
                        <p>Create your free account now to share your thoughts in the comments</p>
                    </div>
                    <div class="head-action">
                        <div class="buttons">
                            <a class="button primary-btn raised action-button is-bold" asp-area="Identity" asp-page="/Account/Register" target="_blank">Sign Up</a>
                            <a class="button chat-button" asp-area="Identity" asp-page="/Account/Login" target="_blank">Sign In</a>
                        </div>
                    </div>
                </div>
            }
            <div class="columns footer-body">
                <!-- Column -->
                <div class="column is-centered">
                    <div class="pt-10 pb-10">
                        <img class="small-footer-logo" src="~/blog-html/dist/assets/img/logos/bulkit-logo-g.png" alt="">
                        <div class="footer-description">
                            Line42 is written for developers. Here I focus on popular tech and
                            my future predictions for technology.
                        </div>
                    </div>
                    <div>
                        <span class="moto">Website coded by Joshua Peters</span>
                        <div class="social-links">
                            <a href="https://www.linkedin.com/in/joshpters/">
                                <span class="icon"><i class="fa fa-linkedin"></i></span>
                            </a>
                            <a href="https://github.com/joshpters">
                                <span class="icon"><i class="fa fa-github"></i></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="footer-copyright has-text-centered">
                <p>&copy; 2020 | <a href="https://cssninja.io">Joshua Peters</a> | All Rights Reserved.</p>
            </div>
        </div>
    </footer>    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>
    <!-- Concatenated jQuery and plugins -->
    <script src="~/blog-html/dist/assets/js/app.js"></script>

    <!-- Bulkit js -->
    <script src="~/blog-html/dist/assets/js/functions.js"></script>
    <script src="~/blog-html/dist/assets/js/auth.js"></script>
    <script src="~/blog-html/dist/assets/js/contact.js"></script>
    <script src="~/blog-html/dist/assets/js/main.js"></script>
    <script>
        $("#search-on-enter-input").keypress(function (event) {
            if (event.which == 13) {
                event.preventDefault();
                $("#search-form").submit();
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
    <!-- Landing page js -->
</body>

</html>