@model MVCBlogMK3.Models.ViewModels.BlogPostsVM
@using MVCBlogMK3.Utilities
@{
    ViewData["Title"] = "Home Page";
    ViewData["IncludeHeader"] = "true";
    var page = Model.PageNumber;
    var older = page - 1;
    var newer = page + 1;
}

<div class="text-center">
    <h1 class="display-4">Welcome to Blog Creation</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="column is-8">
    <h1 class="my-4">Blog Blog Blog</h1>
    <!-- Blog post -->
    @foreach (var post in Model.Posts)
    {
        <div class="is-post light-bordered">
            <div class="featured-post-image">
                @if (post.Image != null)
                {
                    <img src="@ImageUtility.DecodeImage(post)" alt="">
                }

                <div class="post-date">
                    <div class="post-date-inner">
                        <span>@post.Created.ToString("MMM")</span>
                        <span>@post.Created.ToString("dd")</span>
                    </div>
                </div>
            </div>

            <div class="featured-post-body">
                <div class="featured-post-title">
                    <div class="title-avatar">
                        <img src="~/josh_picture.jpg" alt=""
                             data-demo-src="assets/img/avatars/alan.jpg">
                    </div>
                    <div class="title-meta">
                        <h2 class="post-title">@post.Title</h2>
                        <h4 class="post-subtitle">
                            <span>by <a class="author-name" href="#">Joshua Peters</a></span>
                            <i class="fa fa-circle"></i>
                            <span>Posted in <a asp-controller="Home" asp-action="Category" asp-route-id="@post.BlogId">@post.Blogs.Name</a></span>
                        </h4>
                    </div>
                </div>
                <p>
                    @post.Abstract
                </p>

                <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">
                    Read More <span>&#10230;</span>
                </a>
            </div>
        </div>
    }

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <form asp-controller="Home" asp-action="Index" method="get">
                <input type="hidden" value="@older" name="page" />
                @if (older >= 0)
                {
                    <button class="btn btn-info" type="submit" class="page-link btn text-white mr-1">&larr; Prev</button>
                }
                else
                {
                    <button class="btn btn-info" type="submit" class="page-link btn text-white mr-1" disabled>&larr; Prev</button>
                }
            </form>
        </li>
        <li class="page-item">
            <form asp-controller="Home" asp-action="Index" method="get">
                <input type="hidden" value="@newer" name="page" />
                @if (Model.TotalPosts > newer * 5)
                {
                    <button class="btn btn-info" type="submit" class="page-link btn text-white">Next &rarr;</button>
                }
                else
                {
                    <button class="btn btn-info" type="submit" class="page-link btn text-white" disabled>Next &rarr;</button>
                }
            </form>
        </li>
    </ul>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Search Widget -->
        <!-- Categories -->

    </div>
</div>