@using MVCBlogMK3.Utilities
@model IEnumerable<MVCBlogMK3.Models.Post>

@{
    ViewData["Title"] = "Post";
}

<h1>Post</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th>
                Html.DisplayNameFor(model => model.Content)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Blogs)
            </th>
            <th>Settings</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abstract)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Content)*@
                @Html.Raw(item.Content) @*//change for TinyMCE to take care of this area*@
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>*@
            <td>
                <img src="@ImageUtility.GetImage(item)"/>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Blogs.Id)
            </td>
            <td>
                <a asp-controller="Posts" asp-action="BlogPosts" asp-route-id="@item.Id">BlogPosts</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
